<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyw.ticketsystem.ticket.mapper.TicketMapper">
  <insert id="saveTicket" parameterType="com.jyw.ticketsystem.ticket.domain.Ticket">
    INSERT INTO `confirm_order` (`id`, `member_id`, `date`, `train_code`, `start`, `end`, `daily_train_ticket_id`, `status`, `create_time`, `update_time`)
    VALUES (#{id}, #{member_id}, DATE_FORMAT(#{date},'%Y%m%d'), #{train_code}, #{start}, #{end}, #{ `daily_train_ticket_id`}, #{status}, DATE_FORMAT(#{create_time}, '%Y%m%d %H:%i:%s'),DATE_FORMAT(#{update_time}, '%Y%m%d %H:%i:%s'));
  </insert>
</mapper>
