<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyw.ticketsystem.ticket.mapper.TicketMapper">
  <resultMap id="BaseResultMap" type="com.jyw.ticketsystem.ticket.domain.Ticket">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="city_name" jdbcType="VARCHAR" property="city_name" />
    <result column="station" jdbcType="VARCHAR" property="station" />
  </resultMap>
  <select id="selectAll"  resultMap="BaseResultMap">
    select * from city
  </select>
</mapper>